<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kwu.cointwebtoon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Application_UserInfo"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--은주-->
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainActivity"/>
        <activity
            android:name=".SearchActivity"
            android:label="Search List"
            android:theme="@style/SearchActivity" />
        <activity
            android:name=".Top100Activity"
            android:label="Top 100" />
        <activity
            android:name=".FavoriteChartAcivity"
            android:label="Favorite Chart" />
        <activity
            android:name=".MyWebtoonActivity"
            android:label="My Webtoon" />
        <activity
            android:name=".BestChallengeActivity"
            android:label="Best Challenge" />
        <!--은주 end-->

        <!--원형-->
        <activity android:name=".WeekdayActivity" />
        <!--원형 end-->

        <!--석희-->
        <activity
            android:name=".ViewerCutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewerGerneralActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewerStarScoreActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <!--석희 end-->

        <activity
            android:name=".LoginActivity"
            android:theme="@style/LoginActivity"/>
        <activity
            android:name=".EpisodeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ViewerSmartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GenreActivity"
            android:theme="@style/SearchActivity" />
        <activity
            android:name=".ViewerMotionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 네이버 아이디로 로그인 API 사용을 위해 추가한 액티비티들 -->
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />
        <!-- //네이버 아이디로 로그인 API 사용을 위해 추가한 액티비티들 end-->
    </application>

</manifest>
